.footer {
  display: flex;
  justify-content: space-between;
  min-height: 270px;
}
.footer__block:nth-child(2) > .footer__block-item {
  padding-left: 0;
  -moz-column-count: 2;
       column-count: 2;
}
.footer__block {
  flex: 1;
  margin: 0 10px;
}
.footer__block-chapter {
  text-align: left;
  margin-bottom: 20px;
  color: #656566;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
.footer__block-item {
  margin: 0;
  padding: 0;
}
.footer__block-link {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
  color: #e4e5ea;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}
.footer__block-phone, .footer__block-location {
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 21px;
  color: #e4e5ea;
}
.footer__block-phone-img, .footer__block-location-img {
  text-align: right;
  margin-right: 10px;
  cursor: pointer;
}
.footer__block-copyright {
  margin-bottom: 5px;
  color: #e4e5ea;
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__block-img {
  margin-bottom: 19px;
  text-align: right;
}
.footer__block-location {
  margin-bottom: 70px;
}
.footer__element-img {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__block {
    margin: 10px 0;
  }
}