.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #737a8e;
  padding-top: 60px;
  margin-bottom: 60px;
}
.header__logo {
  margin-right: 52px;
}
.header__logo-img {
  width: 140px;
  height: auto;
  margin-bottom: 10px;
}
.header__logo_text {
  width: 150px;
  text-align: center;
  font-size: 14px;
  color: var(--light-text, #e4e5ea);
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header__item {
  list-style: none;
  padding: 0;
  padding-top: 3px;
  display: flex;
  margin: 0;
  margin-right: 137px;
  cursor: pointer;
}
.header__link {
  margin-right: 30px;
  color: var(--light-text, #e4e5ea);
}
.header__link:last-child {
  margin-right: 0;
}
.header__phone {
  white-space: nowrap;
  color: var(--light-text, #e4e5ea);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-right: 30px;
  cursor: pointer;
}
.header__img {
  margin-right: 30px;
  cursor: pointer;
}
.header__img:last-child {
  margin-right: 0px;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__contacts__phone {
  color: var(--light-text, #e4e5ea);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-right: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    margin-right: 20px;
  }
  .header__item {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .header__logo {
    display: none;
  }
  .header__contacts {
    display: none;
  }
  .header__link:nth-child(4) {
    margin-right: 0px;
  }
  .header__link:last-child {
    display: none;
  }
  .header__item {
    margin-right: 0px;
  }
}