.App {
  text-align: center;
  background: url("./assets/Background.png");
  background-size: cover;
  background-color: #0e1014;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}
.App__wrapeer {
  max-width: 1141px;
}

.fs-1 {
  font-size: 48px;
}
.fs-2 {
  font-size: 18px;
}

.fs-3 {
  font-size: 16px;
}
.fs-4 {
  font-size: 16px;
}

.fw-bold {
  font-weight: 900;
}
.fw-semibold {
}
.fw-normal {
}
@media screen and(max-width:1000px) {
  .fs-1 {
    font-size: 36px;
  }
  .fs-2 {
    font-size: 16px;
  }
  .fs-3 {
    font-size: 13px;
  }
  .fs-4 {
    font-size: 12px;
  }
}
