$p: (
  margin: 0
);

$color-light-text: #e4e5ea;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #737a8e;
  padding-top: 60px;
  margin-bottom: 60px;
  &__logo {
    margin-right: 52px;
  }
  &__logo-img {
    width: 140px;
    height: auto;
    margin-bottom: 10px;
  }

  &__logo_text {
    width: 150px;
    text-align: center;
    font-size: 14px;
    color: var(--light-text, #e4e5ea);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__item {
    list-style: none;
    padding: 0;
    padding-top: 3px;
    display: flex;
    margin: 0;
    margin-right: 137px;
    cursor: pointer;
  }

  &__link {
    margin-right: 30px;
    color: var(--light-text, #e4e5ea);

    &:last-child {
      margin-right: 0;
    }
  }

  &__phone {
    white-space: nowrap;
    color: var(--light-text, #e4e5ea);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
  }

  &__img {
    margin-right: 30px;
    cursor: pointer;
  }
  &__img:last-child {
    margin-right: 0px;
  }

  &__contacts {
    display: flex;
    align-items: center;

    &__phone {
      color: var(--light-text, #e4e5ea);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      margin-right: 30px;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1200px) {
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    &__logo,
    &__item {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 1000px) {
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    &__logo {
      display: none;
    }

    &__contacts {
      display: none;
    }

    &__link:nth-child(4) {
      margin-right: 0px;
    }

    &__link:last-child {
      display: none;
    }

    &__item {
      margin-right: 0px;
    }
  }
}
