$color-primary: #656566;
$color-secondary: #e4e5ea;

.footer {
  display: flex;
  justify-content: space-between;
  min-height: 270px;

  &__block:nth-child(2) > &__block-item {
    padding-left: 0;
    column-count: 2;
  }

  &__block {
    flex: 1;
    margin: 0 10px;

    &-chapter {
      text-align: left;
      margin-bottom: 20px;
      color: $color-primary;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }

    &-item {
      margin: 0;
      padding: 0;
    }

    &-link {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
      margin-bottom: 10px;
      color: $color-secondary;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      list-style: none;
    }

    &-phone,
    &-location {
      text-align: right;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 21px;
      color: $color-secondary;

      &-img {
        text-align: right;
        margin-right: 10px;
        cursor: pointer;
      }
    }

    &-phone {
      text-align: end;
    }

    &-copyright {
      margin-bottom: 5px;
      color: $color-secondary;
      text-align: right;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__block-img {
    margin-bottom: 19px;
    text-align: right;
  }

  &__block-location {
    margin-bottom: 70px;
  }

  &__element-img {
    margin-right: 10px;
  }

  @media (max-width: 815px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 15px;
    .footer__block-copyright,
    .footer__block-phone,
    .footer__block-phone,
    .footer__block-img {
      text-align: left;
      margin-bottom: 9px;
    }

    .footer__block-location {
      margin-bottom: 50px;
    }

    &__block {
      margin: 10px 0;
    }
  }
}
