@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$color-primary: #4077f3;
$color-secondary: #737a8e;
$color-accent: #ff6600;
$color-background: #000000;
$color-text: #e4e5ea;
$color-heading: #333;
$font-primary: Montserrat, sans-serif;
$font-secondary: Inter, sans-serif;

p {
  margin: 0;
}

li {
  padding: 0 !important;
}

.container {
  display: flex;
  justify-content: space-between;
  color: $color-text;
  margin-bottom: 69px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $color-text;
  }

  &__info-text {
    margin-bottom: 40px;
    width: 291px;
    text-align: right;
    font-family: $font-secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__info-higtText {
    background: -webkit-linear-gradient(rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__info-title {
    margin-bottom: 6px;
    font-size: 18px;
    text-align: right;
  }

  &__info-subtext {
    font-size: 16px;
    text-align: right;
  }

  &__info-list {
    column-count: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 0;
    list-style: none;
    max-width: 400px;
    margin-bottom: 56px;
  }

  &__info-link:nth-child(1),
  &__info-link:nth-child(3) {
    margin-right: 30px;
  }

  &__info-link {
    margin-bottom: 30px;
    text-align: right;
    list-style: none;
    width: calc(50% - 30px);
    box-sizing: border-box;
    padding: 10px;
    position: relative;
  }

  &__info-moList {
    column-count: 2;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    max-width: 400px;
    margin-bottom: 56px;
  }

  &__info-moLink {
    margin-bottom: 30px;
    text-align: right;
    list-style: none;
    width: calc(50% - 30px);
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
  }

  &__info-moLink::before {
    text-align: right;
    content: "- ";
    position: absolute;
    margin-left: -10px;
    color: $color-accent;
  }

  &__info-btn {
    background: $color-primary;
    color: #ffffff;
    border: none;
    white-space: nowrap;
    width: 262px;
    height: 61px;
    cursor: pointer;
    margin-bottom: 61px;
    margin-left: 0;
  }

  &__info-subtext {
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.info {
  display: flex;
  color: $color-secondary;
  align-items: center;

  &__title {
    max-width: 362px;
    margin: 0;
    margin-bottom: 30px;
    text-align: left;
    color: $color-text;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__title-main {
    max-width: 88px;
    font-size: 24px;
    font-weight: bold;
    color: $color-heading;
    margin: 94px 0 30px 0;
  }

  &__more,
  &__more-text {
    color: $color-text;
  }

  &__more-text {
    max-width: 200px;
    margin-top: 105px;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__subtitle {
    text-align: start;
    display: flex;
    max-width: 275px;
    color: $color-text;
    font-family: $font-primary;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.highlight-text {
  background: -webkit-linear-gradient(rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  direction: rtl;
  white-space: nowrap;
  font-size: 18px;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-weight: bold;
}

@media screen and (max-width: 816px) {
  .container {
    flex-direction: column;
    margin-bottom: 0px;
    padding: 0px 15px;
  }

  .container__info {
    margin-top: 20px;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 0px;
  }

  .container__info-text {
    text-align: left;
    margin-bottom: 20px;
  }

  .container__info-moLink {
    text-align: left;
    margin-left: 10px;
  }
}
